# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.DS_Store
/.idea
/build
/cmake-build-debug
/lib/CMakeFiles
/local
/lib/CserveVersion.h
cmake-build-release
__pycache__
/build-linux
/docs
/vendor
/handlers/iiifhandler/YCC709_icc.h
/handlers/iiifhandler/USWebCoatedSWOP_icc.h
/handlers/iiifhandler/Rec709-Rec1886_icc.h
/handlers/iiifhandler/AdobeRGB1998_icc.h
